:host ::ng-deep {
  @media (max-width: 1024px) {
    .p-datatable {
      .p-datatable-thead > tr > th,
      .p-datatable-tbody > tr > td {
        padding: 0.5rem 0.25rem;
        font-size: 0.875rem;
      }
    }
  }

  .p-dataview-list {
    .p-dataview-content {
      background: transparent;
      border: none;
    }
  }
}
